---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import ArchiveTape from "./ArchiveTape.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

const { media, year } = Astro.props;

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<h1 class="archive_header__h1">
  WPRBXmas {media}
  {year}
</h1>
