---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS
import ArchiveTape from "./ArchiveTape.astro";

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

const {} = Astro.props;

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<section class="archive__intro">
  <img
    src="/images/bouncing_santa.gif"
    width="300px"
    height="300px"
    alt="An animated GIF showing Santa bouncing up & down while ringing a bell.  Created by Ivan Dixon!"
    loading="lazy"
    class="santa"
  />
  <div>
    <p>
      A lot of wonderful (and wonderfully creative) people have submitted
      original songs & stories to WPRBXmas over the years. Scroll down to learn
      more about these folks, listen to their contributions, and connect with
      them on social media & around the web.
    </p>
    <p>
      The icons below each contributors name link to their Twitter
      <img src="/images/twitter.svg" alt="Twitter icon." loading="lazy" />,
      Facebook
      <img src="/images/facebook.svg" alt="Facebook icon." loading="lazy" />,
      Instagram
      <img src="/images/instagram.svg" alt="Instagram icon." loading="lazy" />,
      YouTube
      <img src="/images/youtube.svg" alt="YouTube icon." loading="lazy" />,
      Bandcamp
      <img src="/images/bandcamp.svg" alt="Bandcamp icon." loading="lazy" />,
      Soundcloud
      <img
        src="/images/soundcloud.svg"
        alt="Soundcloud icon."
        loading="lazy"
      />, MySpace
      <img src="/images/myspace.svg" alt="MySpace icon." loading="lazy" />,
      Apple Music
      <img
        src="/images/apple_music.svg"
        alt="Apple Music icon."
        loading="lazy"
      />, Vimeo
      <img src="/images/vimeo.svg" alt="Vimeo icon." loading="lazy" />, E-mail
      <img src="/images/email.svg" alt="E-mail icon." loading="lazy" />, Tumblr
      <img src="/images/tumblr.svg" alt="Tumblr icon." loading="lazy" />, and
      personal websites
      <img
        src="/images/website.svg"
        alt="Personal website icon."
        loading="lazy"
      />.
    </p>
    <p>
      Links in the song/story descriptions direct to <a
        href="https://www.discogs.com/"
        target="_blank">Discogs profiles</a
      > (where possible & appropriate), as well as other relevent supplementary material.
    </p>

    <p>
      There's a lot of cool stuff here and we encourage you to explore it all!
    </p>
    <p>
      Try as we might, we're not always able to track down info about past
      contributors. That means some entries are stumps
      <img src="/images/stump.svg" alt="Tree stump icon." loading="lazy" />. If
      you have any information about these "stumps" we'd love to hear from you.
      <a href="mailto:elves@marathon.christmas">Contact us</a> at elves @ marathon
      dot christmas.
    </p>

    <nav>
      <a href="/">BACK TO MAIN PAGE</a>
    </nav>
  </div>
</section>
