---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

import SectionCard from "../layouts/SectionCard.astro";

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<SectionCard cardID="chat" cardTitle="Listener Chat" cardSize="half">
  <div class="card_text">
    <p>
      Every year, WPRBXmas listeners gather in a listener chat room to connect,
      reminisce, and keep Jon company during the marathon's lonelier hours.
    </p>
    <p>
      <a href="http://wprb.com/chat" target="_blank"
        >Click here to join the WPRBXmas Listener Chat</a
      >!
    </p>

    <!-- <p>
      It's not WPRBXmas right now, so, more than likely, you won't find any
      WPRBXmas listeners in the WPRBXmas Listener Chat.
    </p> -->

    <!-- <p>
      But don't despair! You can still connect with other WPRB listeners via
      WPRB's year-round Spinitron Playlist chat:
      <a href="http://spinitron.com/WPRB" target="_blank">click here</a>
      to join.
    </p> -->
    <p>
      A new window will open in your browser and, if you have a valid
      <a href="http://www.facebook.com" target="_blank">Facebook</a>
      or
      <a href="http://www.google.com" target="_blank">Google</a>
      account, you'll be able to start chatting with other music-lovers right away!
    </p>
    <p>
      Important note for the privacy-minded! Please keep in mind that many WPRB
      DJs archive their show chats, so your handle & comments will likely be
      discoverable via search engines.
    </p>
  </div>
</SectionCard>
