---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<h3>Current Playlist</h3>
<details id="current_playlist">
  <summary>Click here to scroll the current playlist!</summary>
  <div
    class="spinitron-js-widget track"
    data-action="current-playlist"
    data-station="wprb"
    data-num="5"
    data-sharing="0"
    data-cover="1"
    data-player="1"
    data-merch="0"
  >
  </div>
</details>
