---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<h3 class="center">Current Track</h3>
<div id="current_track">
  <div
    class="spinitron-js-widget track"
    data-action="now-playing-v2"
    data-station="wprb"
    data-num="0"
    data-sharing="0"
    data-cover="1"
    data-player="1"
    data-merch="0"
  >
  </div>
</div>
