---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

import SectionCard from "../layouts/SectionCard.astro";

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<SectionCard cardID="submissions" cardTitle="2023 Submissions" cardSize="full">

  <div class="row">
    <div>
      <h3>Guidelines & Rules</h3>
      <div class="card_text">
        <p class="center important_text">
          SUBMISSIONS FOR THIS YEAR'S WPRBXMAS MARATHON ARE OPEN!
        </p>
        <p>
          The deadline to submit your story or song to Jon for inclusion in
          WPRBXMAS XXXV is 
          <span class="important_text">Thursday, December 21st.</span>
           Pieces should be submitted to
          <a href="mailto:jon@wprb.com?subject=2023 WPRBXmas Submission"
            >jon@wprb.com</a
          >
          with the subject line "2023 WPRBXmas Subsmission!"
        </p> 
          <p>
            Jon usually opens WPRBXmas submissions sometime around the end of
            November. Check this site around then to find updated information
            about how to submit your work to next year's WPRBXmas marathon.
          </p>
          <p>
            Friendly reminder to everyone who submitted an original story or
            song to WPRBXMAS XXXV: there's really only one rule Jon asks all
            WPRBXmas creators abide by, and that's
            <span class="important_text"
              >do not publically share work before it airs on the marathon!</span
            >
          </p>
          <p>
            Afterwards, though, go nuts! Just be be sure to mention (or, better
            still, link back) to WPRBXmas when you upload your submission to
            <a href="https://bandcamp.com">Bandcamp</a>,
            <a href="https://soundcloudcom">Soundcloud</a>, Quibi, or your
            <a
              href="https://www.youtube.com/watch?v=Qlqe1DXnJKQ"
              target="_blank">sub-orbital swarm of beat-boxing drones</a
            >.
          </p>
        </p>
      </div>
    </div>
    <div>
      <h3>Background</h3>
      <div class="card_text">
        <p>
          For the last thirteen years, Jon Solomon's invited WPRBXmas listeners to
          submit their own original Christmas stories & songs for airplay
          alongside marathon touchstones like
          <a
            href="https://www.youtube.com/watch?v=KBGGhNwlOz8&list=OLAK5uy_k1jilPdaFEo5KA8cFOrGgZgOIfHTx4v00"
            target="blank"
            >Snaildartha: The Story of Jerry the Christmas Snail</a
          >; all-Misfits-inspired sets; Ramones-o-Clock;
          <a href="https://www.youtube.com/watch?v=x0US4KqCMKM"
            >Lindstrom’s epic 42-minute-long rendition of “Little Drummer Boy”</a
          >; the all-Fall Christmas set; the all-Sabbath set; new VU/Lou Reed
          mixes; Joel Phelps’ myriad pieces; the Sonics, the Wailers, and the
          Galaxies; and other annual favorites.
        </p>
        <p>
          The addition of listeners' stories & songs has brought a new level of
          excitement to the program and made the marathon that much more special
          for <em>all</em> of us.
        </p>
        <p>
          <span class="important_text"
            >This year, listeners are again invited to submit an original
            Christmas story or song of their own</span
          >. New pieces and old favorites alike will be broadcast throughout the
          marathon at the top of each hour.
        </p>
        <p>What does "an original Christmas story or song" sound like?</p>
        <p>
          That's really up to you! In the past, listeners have submitted
          readings of their favorite holiday tales, covers of popular (or
          obscure) holiday tunes, insane mash-ups (<a
            href="https://www.youtube.com/watch?v=89rgBcx4Luw"
            >Slayer & Wham anyone?</a
          >), as well as completely bespoke work.
        </p>
        <p>
          You can find many of these songs & stories archived on this very
          website! Navigate to the
          <span class="submissions_ghosts">GHOSTS OF MARATHONS PAST</span>
          section if you're in need of a little Yuletide inspiration.
        </p>
      </div>
    </div>
  </div>
</SectionCard>
