---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

import SectionCard from "../layouts/SectionCard.astro";

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<SectionCard cardID="whats_new" cardTitle="What's New" cardSize="half">
  <div class="card_text">
    <ul>
      <!-- <li>
        <img src="/images/record_2022.png" alt="A vinyl record labelled '2022'."/>
        <div>
          <h3>WPRBXmas XXIV's listener contributions have been archived.</h3>
          <span
            >You can find listeners' contributions to last year's marathon filed
            under "Ghosts of Marathons Past".</span
          >
        </div>
      </li> -->
      <li>
        <img src="/images/record_2023.png" alt="A vinyl record labelled '2023'."/>
        <div>
          <h3>Submissions for WPRBXmas XXXV are officially open!</h3>
          <span
            >The deadline to submit material for this year's marathon is
            December 21, 2023. See "2023 Submissions" below for more detailed
            information.
          </span>
        </div>
      </li>
      <li>
        <img src="/images/tee_wprbxmas_35.png" alt="WPRBXmas 35 Robot T-Shirt"/>
        <div>
          <h3>
            WPRBXmas XXXV tees are <a
              title="Links to: Jon Solomon's Teepublic storefront."
              href="https://www.teepublic.com/stores/jonsolomon/albums/148559-25-hour-holiday-radio-show?ref_id=9259"
              target="blank">available for purchase!</a
            >
          </h3>
          <span
            >The artwork for this year's WPRBXmas tees (there are 4 different designs to choose from this year!) was designed by friend-of-the-show <a
              title="Links to: ArtJerk's Twitter account."
              href="https://www.teepublic.com/user/artjerk?ref_id=9259"
              target="_blank">ArtJerk</a
            >.
          </span>
        </div>
      </li>
      <li>
        <img src="/images/astro.png" alt="The Astro web framework logo."/>
        <div>
          <h3>
            marathon.christmas has been refactored in <a
              href="https://astro.build"
              target="_blank">Astro</a
            >.
          </h3>
          <span
            >This site got a fresh coat of paint, just in time for WPRBXmas XXXIV!
            Please note that archival material is still in the process of being
            (manually) moved over from the legacy site.
          </span>
        </div>
      </li>
    </ul>
  </div>
</SectionCard>
