---
//    CSS & STYLE IMPORTS

//    ASTRO COMPONENT IMPORTS

//    ASTRO PAGE-SPECIFIC IMPORTS

import SectionCard from "../layouts/SectionCard.astro";

//    FRAMEWORK-SPECIFIC IMPORTS

//    COMPONENT SCRIPTS:

/// You can write any JavaScript/TypeScript that you'd like here.
/// It will run during the build, but never in the browser.
/// All variables are available to use in the HTML template below.

//    PAGE-SPECIFIC VARIABLES

/// FULL ASTRO COMPONENT SYNTAX:
/// https://docs.astro.build/core-concepts/astro-components/
---

<SectionCard cardID="wprbxmas" cardTitle="#WPRBXmas Feed" cardSize="full">
  <div class="card_text">
    <p>
      WPRBXmas listeners are a pretty tech-saavy bunch...which means that, for
      as long as it's WPRBXMas, <em>lots</em> of people from all over the world will
      be sharing their thoughts, memories, jokes, &
      <a
        href="https://twitter.com/danruccia/status/1077591603240452098/photo/1"
        target="_blank">pictures of Jerry the Christmas Snail ornaments</a
      > across the inter-webs.
    </p>
    <p>
      During WPRBXmas, this card aggregates WPRBXMas-related content across
      several social media platforms, including Twitter
      <a
        href="https://twitter.com/search?q=%23WPRBXmas&src=typed_query&f=live"
        target="_blank">(#WPRBXmas)</a
      > and Instagram <a
        href="https://www.instagram.com/explore/tags/wprbxmas/"
        target="_blank">(#wprbxmas)</a
      >. It also pulls in all content from Jon Solomon's Facebook page, <a
        href="https://www.facebook.com/keepingscoreathome"
        target="_blank">Keeping Score At Home</a
      >.
    </p>
  </div>
  <div id="flockler-embed-18537e3c97108353c5ceb8b844712c40"></div>
</SectionCard>
