:root {
  --colors__black: rgba(1, 2, 3, 0.95);
  --colors__dark_grey: #2a3439;
  --colors__green: #4dfd78;
  --colors__green_rgba: rgba(77, 253, 120, 0.35);
  --colors__grey: #808080;
  --colors__off_white: #f5f5f5;
  --colors__pink: hsl(337, 78.9%, 64.7%);
  --colors__purple: #1f253c;
  --colors__purple_light: #353b50;
  --colors__red: #ec5e95;
  --colors__red_loader: #d33144;
  --colors__red_loader_box_shadow_candy_cane: rgba(255, 50, 0, 0.8);
  --colors__red_loader_box_shadow_container: rgba(255, 0, 0, 0.1);
  --colors__red_rgba: rgba(236, 94, 149, 0.15);
  --colors__red_rgba_1: rgba(236, 94, 149, 0.15);
  --colors__red_rgba_2: rgba(236, 94, 149, 0.85);
  --colors__red_transparent_1: rgba(236, 94, 149, 0.7);
  --colors__red_transparent_2: rgba(236, 94, 149, 0.25);
  --colors__santa_skin: #ecc85e;
  --colors__white: #ffff;
  --colors__white_loader: #ffffee;
  --colors__yellow: #f9fb22;
  --colors__yellow_transparent: rgba(255, 255, 0, 0.45);
}
